<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First App</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
<body>
    <h1>Welcome to My First App</h1>
    <p>This is the home page.</p>
    <div class="djangotwo">
        {%if access_records%}
        <table>
            <thead>
                <th>Site Name</th>
                <th>Date Accessed</th>
            </thead>
            {%for acc in access_records%}
            <tr>
                <td>
                    {{acc.name}}
                </td>
                <td>{{acc.date}}</td>
            </tr>
            {%endfor%}
        </table>
        {%else%}
        <p>No Access Records Found</p>
        {%endif%}
    </div>
</body>
</html>